# config for testing 

import os
# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

#app content database
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'setsuwa_test.db')
#authorisation database
SQLALCHEMY_BINDS = {
    'auth':        'sqlite:///' + os.path.join(BASEDIR, 'auth_test.db')
}

SQLALCHEMY_TRACK_MODIFICATIONS = False
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'bad_secret_key'
DEBUG = True


#testing disables default error catching so pytest can handle it
TESTING = True

