# config for developement 

import os
# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
#app content database
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'setsuwa.db')
#authorisation database
SQLALCHEMY_BINDS = {
    'auth':        'sqlite:///' + os.path.join(BASEDIR, 'auth.db')
}
SQLALCHEMY_TRACK_MODIFICATIONS = False
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'bad_secret_key'
DEBUG = True

#jwt
JWT_SECRET_KEY = 'jwt-secret-string'
# JWT_BLACKLIST_ENABLED = True
JWT_BLACKLIST_TOKEN_CHECKS = ['access', 'refresh']

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15